@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("style.css");


body {
    background-image: url(img/fond.png);

}

.hero-section {
    margin: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 40px;
}



.hero-section>a i {
    font-size: 50px;
    color: var(--bleu-noir);
    cursor: pointer;
}

.hero-section>a i:hover {
    font-size: 50px;
    color: var(--violet);
}


.hero-content {
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.hero-info {
    width: 40%;
    margin-left: 70px;
}

.hero-info h1 {
    margin-bottom: 25px;
}

.hero-info h1 span {
    color: var(--violet);
}

.hero-info p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 40px;
    /* text-align: justify; */
}

.hero-buttons {
    display: flex;
    gap: 70px;
}

.hero-buttons a {
    border: none;
    color: white;
    background-color: var(--violet);
    font-weight: 500;
    border-radius: 30px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.6em 1.5em;
    width: 200px;
    transition: all 300ms;
    text-align: center;
    text-decoration: none;
}

.hero-buttons a i {
    color: white;
}

.hero-buttons a:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: anim 1.5s infinite;
    background-color: transparent;
    color: var(--violet);
    border: 2px solid var(--violet);
}

.hero-buttons a:hover i {
    color: var(--violet);
}

@keyframes anim {
    0% {
        box-shadow: 0 0 0 0 var(--violet);
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
}

.hero-img {
    width: 45%;
    position: relative;
}

.hero-img img {
    width: 100%;
}

.front {
    position: absolute;
    top: 70px;
    left: 60px;
}

.back {
    position: absolute;
    top: 300px;
    right: -20px;
}

.other {
    position: absolute;
    top: 500px;
    left: 60px;
}

.hero-img>div {
    background: rgba(255, 255, 255, 0.568);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 270px;
    padding: 15px 0 15px 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.hero-img i {
    padding: 5px;
    color: var(--bleu-noir);
}


.swing {
    transform-origin: top center;
    animation: swing 10s ease infinite;
}

.delay-250 {
    animation-delay: 1s;
}

.delay-500 {
    animation-delay: 2s;
}


@keyframes swing {
    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-3deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.apropos {
    margin: 100px 100px 0 100px
}

.text {
    padding: 45px;
}

.text h1 {
    margin-bottom: 20px;
}

.text h1 span {
    color: var(--violet);
}

.text p {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: justify;
}

.cards {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    position: relative;
}

.cards>img {
    width: 700px;
    object-fit: cover;
}

.cards>div {
    position: absolute;
    width: 150px;
    height: 120px;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.664);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.img {
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
    font-size: 100px;
}

.textBox {
    opacity: 0;
    width: 90%;
    text-align: start;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox>.texte {
    font-weight: 500;
    color: var(--bleu-noir);
}

.textBox>.head {
    font-size: 1.3rem;
}

.textBox>.price {
    font-size: 1rem;
}

.cards>div:hover {
    width: 400px;
    border-radius: 20px;
}

.cards>div:hover>.textBox {
    opacity: 1;
}

.cards>div:hover>.img {
    height: 65%;
    filter: blur(7px);
    animation: animation 3s infinite;
    color: #9da2f3;
}

@keyframes animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04) rotate(-1deg);
}


.down-left {
    position: absolute;
    top: 320px;
    left: 250px;
    right: 0;
    bottom: 0;
}

.middle-left {
    position: absolute;
    top: 120px;
    left: 430px;
    right: 0;
    bottom: 0;
}

.top {
    position: absolute;
    top: -10px;
    bottom: 0;
}

.middle-right {
    position: absolute;
    top: 120px;
    right: 430px;
    bottom: 0;
}

.down-right {
    position: absolute;
    top: 320px;
    right: 250px;
    bottom: 0;
}

.cards>a {
    position: absolute;
    top: 550px;
    border: none;
    color: white;
    background-color: var(--violet);
    font-weight: 500;
    border-radius: 30px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.6em 1.5em;
    width: 200px;
    transition: all 300ms;
    text-align: center;
    text-decoration: none;
}

.cards>a:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: anim 1.5s infinite;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

footer {
    margin-top: -100px;
}

@media screen and (min-width:1921px) {
    .hero-section {
        margin: 200px 25px;
    }

    .hero-img {
        width: 45%;
    }

    .text {
        margin-bottom: 150px;
    }

    .cards>img {
        width: 900px;
    }

    .cards>a {
        top: 800px;

    }

    .front {
        top: 100px;
    }

    .back {
        top: 400px;
    }

    .other {
        top: 700px;
    }


    .down-left {
        top: 370px;
    }

    .middle-left {
        left: 630px;
    }

    .top {
        top: -100px;
    }

    .middle-right {
        right: 630px;
    }

    .down-right {
        top: 370px;
    }
}

@media screen and (max-width:1919px) {
    .hero-img {
        width: 600px;
    }

    .hero-img img {
        width: 600px;
    }

    h1 {
        font-size: 3.8rem;
        line-height: 60px;
    }

    .front {
        top: 50px;
        left: 0px;
    }

    .back {
        top: 220px;
        right: -50px;
    }

    .other {
        top: 350px;
        left: 0px;
    }

    .hero-content {
        margin-top: 100px;
    }

    .hero-info {
        margin: 0;
    }


    .down-left {
        top: 300px;
    }

    .middle-left {
        left: 250px;
    }

    .top {
        top: -30px;
    }

    .middle-right {
        right: 250px;
    }

    .down-right {
        top: 300px;
    }
}

@media screen and (max-width:1439px) {
    .hero-content {
        margin-top: 0px;
    }

    h1 {
        font-size: 3rem;
        line-height: 50px;
    }

    .hero-info p {
        font-size: 1rem;
    }

    .hero-img>div {
        font-size: 1rem;
        width: 210px;
        padding: 10px 0px;
    }

    .cards>div {
        height: 100px;

    }

    .img {
        font-size: 80px;
    }

    .textBox>.head {
        font-size: 1.1rem;
    }

    .textBox>.price {
        font-size: 0.8rem;
    }

    .cards>div:hover {
        width: 300px;
    }

    .text p {
        font-size: 1rem;
    }

}

@media screen and (max-width:1025px) {

    .hero-content {
        gap: 50px;
    }

    .hero-info {
        width: 90%;
    }

    .text {
        padding: 0;
        margin-bottom: 50px;
    }

    .down-left {
        left: 0px;
    }

    .middle-left {
        left: 0px;
    }

    .top {
        top: -10px;
    }

    .middle-right {
        right: 0px;
    }

    .down-right {
        right: 0px;
    }

    footer {
        margin-top: 0px;
    }
}

@media screen and (max-width:541px) {

    .hero-img {
        width: 350px;
    }

    .hero-img img {
        width: 350px;
    }

    .hero-info {
        width: 80%;
    }

    .hero-section {
        margin-top: 0px;
    }

    .hero-info h1 {
        margin-bottom: 15px;
    }

    .hero-info p {
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2rem;
        line-height: 35px;
    }

    .hero-buttons a {
        font-size: 1rem;
        width: 150px;
        padding: 0.6em 0.6em;
    }

    .cards>img {
        width: 400px;
    }

    .apropos {
        margin: 80px 30px 0px 30px;
    }

    .text p {
        font-size: 0.9rem;
    }







    .hero-img>div {
        font-size: 0.9rem;
        width: 160px;
        padding: 10px 0px;
    }

    .cards>div {
        height: 80px;

    }


    .hero-img i {
        padding: 0;
    }

    .front {
        top: 20px;
    }

    .back {
        top: 120px;
        right: -20px;
    }

    .other {
        top: 195px;
        left: 0px;
    }


    .cards>div {
        width: 80px;
    }

    .img {
        font-size: 50px;
    }

    .textBox>.head {
        font-size: 0.9rem;
    }

    .textBox>.price {
        font-size: 0.6rem;
    }

    .cards>div:hover {
        width: 180px;
    }

    .text p {
        font-size: 0.9rem;
    }

    .cards>a {
        top: 450px;
        font-size: 1rem;
        padding: 0.6em 0.6em;
        width: 160px;
    }
}

@media screen and (max-width:392px) {

    .hero-img {
        width: 300px;
    }

    .hero-img img {
        width: 300px;
    }




    .cards>img {
        width: 330px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-info {
        width: 100%;
    }

    .hero-img>div {
        gap: 2px;
        font-size: 0.8rem;
        width: 150px;
        padding: 5px 0px;
        border-radius: 10px;
    }

    .back {
        top: 110px;
    }

    .other {
        top: 180px;
    }



    .down-left {
        top: 200px;

    }

    .middle-left {
        top: 85px;

    }

    .top {
        top: -20px;
    }

    .middle-right {
        top: 85px;
    }

    .down-right {
        top: 200px;
    }

    .cards>a {
        top: 380px;
    }


}