@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("style.css");


body {
    background-image: url(img/fond.png);
}

.cardContainer {
    width: fit-content;
    position: relative;
    display: flex;
    margin-top: -50px;

}

main {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 50px 60px;

}


.cardContainer::before {
    width: 300px;
    height: 300px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255, 0.35);
    z-index: -1;
    border-radius: 50%;
    left: 40px;
    top: 20px;
    transition: all 1s;
}

.cardContainer:hover::before {
    transform: translate(320px, 50px);
}

.card div {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 40px;
}

.card div a:hover {
    color: var(--violet);
}

.card h1 {
    padding-bottom: 10px;
}

span {
    color: var(--violet);
}

.card div i {
    padding-right: 20px;
    font-size: 2rem;
    color: var(--bleu-noir);
    transition: transform .2s;
}

.card div i:hover {
    color: var(--violet);
    transform: scale(1.2);
}

.card div a {
    text-decoration: none;
}

@media screen and (max-width:610px) {
    .card {
        width: 300px;
        height: 230px;

        padding: 10px 20px;

    }

    .card h1 {
        font-size: 2rem;
        line-height: 55px;
        padding-bottom: 0px;
    }

    main {
        width: 100%;
        height: calc(100vh - 200px);
    }

    .cardContainer::before {
        width: 150px;
        height: 150px;
    }

    .cardContainer:hover::before {
        transform: translate(150px, 50px);
    }

    .card div {
        font-size: 1rem;
        font-weight: 500;
        padding-left: 10px;
    }

}